<div class="teams-table">
  <% if Event.first %>
    <h3>Last updated <%= time_ago_in_words(Event.first.timestamp) %> ago.</h3>
  <% end %>
  <div class="horizontal-scroll">
    <table class="my-table">
      <thead>
        <tr>
          <th>Team</th>
          <% 14.times do |x| %>
            <th><%= x %></th>
          <% end %>
          <th>Win</th>
          <th>Count</th>
        <tr>
      </thead>
      <tbody>
        <% @teams.each_with_index do |team, index| %>

        <tr class="<%= 'person-class' if team.person %> <%= 'win-class' if team.winner? %>">
          <td class="team-name">
            <%= "#{(index + 1).to_i}. #{team.name}" %>
            <% if team.person %>
              <br /><small class="text-muted">Owner: <%= team.person.name %></small>
              <br /><small class="text-muted">Last Update: <%= team.last_update_date %></small>
            <% end %>
          </td>
          <% 14.times do |x| %>
            <td><%= @accomplishments.team_accomplishment_text(team, x) %></td>
          <% end %>
          <td><%= team.accomplishment_win? %>
          <td><%= @accomplishments.count_by_team(team) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
