<div class="teams-table">
  <% if Event.first %>
    <h3>Last Update: <%= time_ago_in_words(Event.first.timestamp) %> ago...</h3>
  <% end %>
  <div class="horizontal-scroll">
    <table class="my-table">
      <thead>
        <tr>
          <th>Team</th>
          <% 14.times do |x| %>
            <th><%= x %></th>
          <% end %>

        <tr>
      </thead>
      <tbody>
        <% Team.in_order.each_with_index do |team, index| %>

        <tr class="<%= 'person-class' if team.person %>">
          <td>
            <%= "#{(index + 1).to_i}. #{team.name}" %>
            <% if team.person %>
              <br /><small class="text-muted"><%= team.person.name %></small>
            <% end %>
          </td>
          <% 14.times do |x| %>
            <td><%= team.accomplishment_text(x) %></td>
          <% end %>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
